<p hello ></p>
<!--
<div id="login_form">
  <h1>ログアウトしました．</h1>
  <%= link_to "ログイン画面に戻る", {:controller => "sessions", :action => "new"} %>
<!--  <%= link_to "Log out", session_path(“current user”), method: "delete" %> 
</div>
-->