<div class="content">
	<div id="pad-wrapper" class="user-profile">
		<div class="row form-wrapper">
			<%= render "partials/bgstransfer" %>
			<%= render "partials/bgsnav"%> 
			<div class="col-md-4">
				<h2 class="name">this web site is made by shen yizhu</h2>
				<br>
				<h4>if you have any question please contact me xzr1391@gmail.com</h4></span>
			</div>
			<div class = 'col-md-4'>
				<%= image_tag 'nana.jpg' %>
			</div>
		 </div>
	</div>
</div>
