<div class="content">

	<%= render "partials/bgstransfer" %>
	<%= render "partials/bgsnav"%>	

	<div id="pad-wrapper" class="new-user">
		<div class="row header">
			<div class="col-md-12">
				<h3>New note</h3>
            </div>                
        </div>    
        <%= render 'partials/form' %>
    </div>
    
    <%= link_to 'Back', notes_path %>

</div>

