<div id="sidebar-nav">
	<ul id="dashboard-menu">
		<li class="active">
            <a href="/">
                <i class="icon-home"></i>
                <span>Home</span>
            </a>
         </li>            
         <li>
         	<a href="/notes">
         		<i class="icon-book"></i>
                <span>My Notes</span>
            </a>
        </li>
        <li>
         	<a href="/words">
         		<i class="icon-edit"></i>
                <span>My Words</span>
            </a>
        </li>
        <li>
         	<a href="/notes/about">
         		<i class="icon-group"></i>
         		<span>About</span>
         	</a>
         </li>
        <li>
        	<a href = "../sessions/destroy" >
        		<i class="icon-share-alt"></i>
        		<span>Log out</span>
            </a>
        </li>
    </ul>
</div>